body { /* 10px */
    font-size: 62.5%;
}
body,html{
    width: 100%;height: 100%;overflow-x: hidden;
}

/* header */
.header {padding: 1.6em;position: relative;}
.header .logo h2 {font-size: 2.4em;}
.header .nav .navLists{display: none}
.header .nav {float: right;width: 2.4em;height: 2.4em;background: #000;position: absolute;right: 1.6em;top:2em;}
.header .nav .btn-mobile {color: #fff;}

/* main banner */


.comment {padding: 0 1.6em;}
.comment .onion-value .h1 {font-size:2.4em;text-align: center;padding: 1.66em 0 1.25em 0;}
.comment .comment-article h2{font-size:font-family: OnionMath_Bold-Bold;font-size: 1.8em;line-height: 1.8em; text-align:center; margin-bottom: 1.11em;}
.comment .comment-article p {font-family: OnionMath_Regular-regular;
    font-size: 1.2em;letter-spacing: 0;line-height: 1.66em;}
.comment .comment-article .img {width: 24em;height: 20em;padding: 2em 4.8em 3em}
.comment .comment-article .img img {width: 100%;height: 100%;}
.comment-PC {display: none}
.comment-mobile {display: block;}

/* button more */
.btn-more {width: 100%;font-size: 1.5em;height: 2.66em;line-height: 2.66em;background: #FFFFFF;
    border: 1px solid #F8F8F8;box-shadow: 0 20px 50px 0 rgba(0,0,0,0.05);
border-radius: 4px;margin-bottom: 1.66em;}


/* welfare */
.welfare {width: 100%;background: #F9F9F9;padding: 1.5em;}
.welfare .comment-article{margin-right: 2em; margin-bottom: 2.1em; display: inline-block;}
.welfare .comment-article figure{width: 14em;margin: 0;}
.welfare .comment-article figure h3{font-size: 1.4em;height: 1em;line-height: 1em;text-align: center;margin:1.07em 0 .5em 0;}
.welfare .comment-article figure img{width: 8em;height: 8em;margin: 0 3em;}
.welfare .comment-article figure p {font-family: OnionMath_Regular-regular;font-size: 1.2em;line-height: 1em;text-align: center;}
.welfare .btn-welfare{width: 89%;}

/* develop */
.develop{width: 100%;background: #1696ea;}
.develop .comment-article {display: block}
.develop .comment .h1 {color: #fff;font-family: OnionMath_Bold-Bold;}
.develop .comment h3 {font-size: 1.4em;color: #fff;line-height: 1.4em;margin-top:1em;font-family: OnionMath_Bold-Bold;}
.develop .comment p {font-family: OnionMath_Regular-regular;font-size: 1.2em;letter-spacing: 0;line-height: 1.67em;}

.develop .btn-develop{margin-top: 3em}

/* evaluation */
.evaluation {width: 100%; background: #f9f9f9;}
.evaluation .comment-article .title{font-family: OnionMath_Bold-Bold;font-size: 1.4em;color: #3B3B3B;line-height: 1.43em;}
.evaluation .comment-article .info{font-family: OnionMath_Bold-Bold;font-size: 1.2em;color: #6A6A6A;line-height: 1.33em;margin: .42em 0 .83em 0}
.evaluation .comment-article .desc{font-family: OnionMath_Regular-regular;
    font-size: 1.2em;color: #888888;letter-spacing: 0;line-height: 1.67em;margin-bottom: 1.67em;}


/* jobs */
.jobs {width: 100%;background: #fff;}
.jobs .comment figure {margin:0;width: 11em;display: inline-block;margin-left: 4.5em;margin-bottom: 1.5em;}
.jobs .comment figure img {width: 10em;height: 8em}
.jobs .comment figure h3 {font-size: 1.4em; margin: 1.07em auto .5em;text-align: center;color: #3B3B3B;font-family: OnionMath_Bold-Bold;line-height: 1em;}
.jobs .comment figure p {font-size: 1.2em;font-family: OnionMath_Regular-regular;color: #A2A2A2;line-height: 1.67em;text-align: center;padding: 0 .25em;}




